.list{
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 520px;
    min-height: 600px;
    background: #161a2b;
    text-align: center;
    margin: 100px auto;
    border-radius: 10px;
    padding-bottom: 32px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.title{
    margin:10px;
    font-size:20px;
    font-weight:600;
}
.headerItems{
    display:flex;
    color:#a1a5b0;
}
.ui{
    position: absolute;
    right: 0;
    top:130px;
    margin:30px;
    height:250px;
    width:400px;
    border-radius:10px;
}
.email {
    height:30px;
    width:200px;
    display:flex;
    padding-left:10px;
    border-radius:5px;
    align-items:center;
    border:2px solid #fff;
    background-color: white;
    border:2px solid lightgray;
}
.emailIconContainer{
    margin:10px;
}
.emailInput{
    background-color:transparent;
    border:none;
    width:100%;
    outline:none;
    font-size:16px;
}
.bn{
    display:flex;
    flex-direction: column;
    width:130px;
    height:13px;
    border:2px solid #fff;
    background:transparent;
    padding: 10px;
    text-align: center;
    border-radius:5px;
    cursor:pointer;
    transform:scale(0.95);
}
.bn:hover{
    background-image:  linear-gradient(to right, #9D50BB 0%, #6E48AA 51%, #9D50BB 100%);
    color:white;
    transform:scale(1.05);
    transition: 250ms ease-in-out;
}
.emailContainer{
    display:flex;
}
.todo-app {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 520px;
    min-height: 600px;
    background: #161a2b;
    text-align: center;
    margin: 128px auto;
    border-radius: 10px;
    padding-bottom: 32px;
  }
.complete {
    text-decoration: line-through;
    opacity: 0.4;
  }
  .todo-form {
    margin-bottom: 32px;
  }
  .todo-input {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #5d0cff;
    outline: none;
    width: 320px;
    background: transparent;
    color: #fff;
  }
  .todo-input::placeholder {
    color: #e2e2e2;
  }
  .todo-button {
    padding: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: linear-gradient(
      90deg,
      rgba(93, 12, 255, 1) 0%,
      rgba(155, 0, 250, 1) 100%
    );
    color: #fff;
    text-transform: capitalize;
  }
  .todo-input.edit {
    border: 2px solid #149fff;
  }
  .todo-button.edit {
    background: linear-gradient(
      90deg,
      rgba(20, 159, 255, 1) 0%,
      rgba(17, 122, 255, 1) 100%
    );
    padding: 16px 22px;
  }
  .todo-container {
    display: flex;
    flex-direction: row;
    position: relative;
  }
  .todo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: #fff;
    background: linear-gradient(
      90deg,
      rgba(255, 118, 20, 1) 0%,
      rgba(255, 84, 17, 1) 100%
    );
    padding: 16px;
    border-radius: 5px;
    width: 90%;
  }
  .todo-row:nth-child(4n + 1) {
    background: linear-gradient(
      90deg,
      rgba(93, 12, 255, 1) 0%,
      rgba(155, 0, 250, 1) 100%
    );
  }
  .todo-row:nth-child(4n + 2) {
    background: linear-gradient(
      90deg,
      rgba(255, 12, 241, 1) 0%,
      rgba(250, 0, 135, 1) 100%
    );
  }
  .todo-row:nth-child(4n + 3) {
    background: linear-gradient(
      90deg,
      rgba(20, 159, 255, 1) 0%,
      rgba(17, 122, 255, 1) 100%
    );
  }
  .icons {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
  }
  .delete-icon {
    margin-right: 5px;
    color: #fff;
  }
  .edit-icon {
    color: #fff;
  }